.contacts {
  background-color: var(--section-background-color);
  color: var(--section-text-color);
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contacts h2 {
  margin-bottom: 20px;
}

.contacts p {
  margin-bottom: 40px;
}

.contact-us {
  margin-bottom: 40px;
}

.contact-form-container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form-container .form-group {
  margin-bottom: 15px;
}

.contact-form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.contact-form-container .form-group input,
.contact-form-container .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.contact-form-container .form-group textarea {
  resize: vertical;
  height: 150px;
}

.contact-form-container button[type="submit"] {
  background-color: var(--feature-background-color);
  color: var(--feature-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form-container button[type="submit"]:hover {
  background-color: #454a50; /* Adjust this for hover effect */
}

.contact-details {
  list-style-type: none;
  padding: 0;
}

.contact-details li {
  margin-bottom: 10px;
}

.contact-form-container span {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}
